<!DOCTYPE html>
<html lang="en">
<head>
  <title>Rails PostgreSQL hstore example application</title>
  <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="container">


  <div class="navbar">
    <div class="navbar-inner">
      <a class="brand" href="<%= root_path %>">Rails PostgreSQL hstore Example</a>
      <ul class="nav">
        <li><%= link_to "Users", users_path %></li>
      </ul>
    </div>
  </div>

<%= yield %>

  </div>
</body>
</html>
